
 <div *ngFor="let task of tasks">
  <h3>{{ task.title }}</h3>
  <p>{{ task.description }}</p>
</div>


<form [formGroup]="taskForm" (ngSubmit)="onSubmit()" class="task-form">

  <div class="form-group">
    <label>Title</label>
    <input type="text" formControlName="title" />
  </div>

  <div class="form-group">
    <label>Description</label>
    <textarea formControlName="description"></textarea>
  </div>

  <div class="form-group">
    <label>Status</label>
    <select formControlName="status">
      <option [value]="1">Todo</option>
      <option [value]="2">In Progress</option>
      <option [value]="3">Complete</option>
    </select>
  </div>

  <div class="form-group">
    <label>Priority</label>
    <select formControlName="priority">
      <option value="Low">Low</option>
      <option value="Medium">Medium</option>
      <option value="High">High</option>
    </select>
  </div>

  <button type="submit" [disabled]="taskForm.invalid">
    Add Task
  </button>

</form>
